<h1>Hello, Rails!</h1>
<p>Built with &#x1F308; &amp; ❤️  by Alicia Pflaumer</p>
<%= link_to "New User", new_user_path %> |
<%= link_to 'Blog', controller: 'articles' %> | 
<%= link_to 'All users', users_path %>
