<div class="container">
<h1>Content Management System</h1>
<p>Built with &#x1F308; &amp; ❤️  by Alicia Pflaumer</p>
<div id="user_header">
  <% if current_user %>
  <p>
    <strong>Hello, <%= current_user.username %>!</strong>
  </p>
  <% end %>
</div>

</div>
