<footer class="navbar navbar-fixed-bottom">
<p>Built with &#x1F308; &amp; ❤️  by Alicia Pflaumer</p>
<p><a href="https://www.linkedin.com/in/aliciapflaumer/">Linkedin</a> and <a href="https://github.com/aliciapflaumer">Github</a></p>
</footer>
